.abt h1 {
    margin-left:410px;
}
.content{
    width:60%;
    text-align:center;
    margin:20px;
    margin-top:-280px;
    border:blue;
}
.image{
    margin-left:950px;

}
.who{
    width:60%;
    text-align:center;
    margin:20px;
}