.abt h1 {
    margin-left:450px;
}
.content{
    width:60%;
    text-align:center;
    margin:20px;
    margin-top:-280px;
}
.image{
    margin-left:950px;

}
.who{
    width:60%;
    text-align:center;
    margin:20px;
}