@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap');
.card{
    border:1px solid #000
}
.font{
    font-family: 'Josefin Sans', sans-serif;
    font-size:18px;
}