.form{
    margin-left: 30%;
    border:1px solid #001529;
    box-shadow: 10px 10px 10px #1890ff;
    padding:12px;
    width:40%;
    margin-bottom:20px;
}
.form Button{
    text-align: center;
    margin-left: 150%;
}