@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300&display=swap');
.footer{
    /* background-color:black; */
    color:green;
}
.footLogo{
    margin-bottom:-50px;
}
.footerContent{
    position:relative;
    font-size:15px;
    font-family: 'Mukta', sans-serif;
}
.footer .footerTitle{
    margin-left:45%;
}
.footer .maintain{
    margin-left:45%;
    margin-bottom:12px;
}
.footer .frontend{
    width:14%;
    margin-left:35%;
    border-right:2px solid black;
}
.footer .backend{
    margin-left:50%;
    margin-top:-6.15%;
}

.footer .social{
    display:inline-flex;
   margin-left:44.40%;
}
.footer .social li{
    list-style-type:none;
}