@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap');
.card{
    background-color:#1890ff;
    height:120px;
    border: 1px solid #001529;
    border-radius:14px;
}
.title{
    font-family: 'Josefin Sans', sans-serif;
}