@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
.border{
    background-color:rgb(3, 189, 3);
    color:rgb(3, 189, 3);
}
.title{
    margin-top:33px;
    margin-left:65px;
    font-family: 'Roboto Slab', serif;
}
.contactHead{
    float:right;
    margin:0px 10px;
    margin-top:-50px;
}
.contactHead a{
    color:black;
}
.logo{
    margin-top:-61px;
}
.vaccination{
    width:25%;
    
    margin-top:-40px;
    margin-left:47%;
}
.vaccination button{
    border:2px solid black;
    justify-content:center;
    width:40%;
    height:40px;
}
.vaccination p{
    font-size:18px;
}
.navbar{
    
    border-top:1px solid black;
    border-bottom:1px solid black;
    background-color:whitesmoke;
    width:100%;
}
.navbar ul{  
    margin:12px;
    margin-left:23%;
    display:inline-flex;
}
.navbar li{
    list-style-type: none;
    padding:24px;
    font-size:16px;
    font-family: 'Roboto Slab', serif;
}
.navbar li:hover{
    padding:12px;
    border-top:4px solid #00cf23;
    cursor:pointer;
}