.title{
  
    margin-top:33px;
    margin-left:65px;
}
.contactHead{
    float:right;
    margin:0px 10px;
    margin-top:-55px;
}
.contactHead a{
    color:black;
}
.logo{
    margin-top:-61px;
}
.vaccination{
    margin:0 auto;
}